
#title {
	text-align: center;
	background-color: #4fc3f7;
	font-size: 100px;
	font-color: red;
 }

div {
	border: 1px solid black;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

body{
	background-color: #4fc2f7;
}